table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  form {
    margin-bottom: 20px;
  }
button{
    width: 50%;
}  
.customButton {
    
    max-width: 200px
    /* Add more styles as needed */
  }